<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form action="/progress" method="post">
      Name: <input type="text" name="name">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
